@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
.navbar{
   background-color: #1B3C53; 
   color: #D2C1B6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 40px;

}
.logo{
   color: rgb(244, 204, 8);
   font-size: 36px;
   font-weight: 400;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
.nav-link{
   list-style: none;
   display: flex;
   gap: 20px;
}
.nav-link li a {
   text-decoration: none;
   color: aliceblue;
   font-size: 18px;
   border-radius: 5%;

}
.nav-link li a:hover{
   background-color: azure;
   color: rgb(0, 13, 255);
   text-decoration: underline;
   padding: 4px 4px;

}
.jumbotron{
   background-color: #93BFC7;
   margin-top: 10px;
   color: azure;
   height: 60vh;
   padding: 8px;
   text-align: center;
}
.jumbotron h1{
   font-size: 40px;
   font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
   margin-bottom: 30px;
}
.jumbotron button{
   background-color: #1B3C53;
   color: rgb(255, 255, 255);
   border: none;
   padding: 10px 14px;
   border-radius: 10px;
   cursor: pointer;
}
.jumbotron button:hover{
   background-color: #fdfdfd;
   color: #1B3C53;
   border: none;
   padding: 10px 14px;
   border-radius: 10px;
   cursor: pointer;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 16px;
}
.new-section{
   padding: 40px;
   background: #1596f1;
}
.new-grid{
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 16px;
   align-items: starts;
}
.card-img {
   width: 100%;
   aspect-ratio: 16/9;
   overflow: hidden;
}
.card-img img{
   width: 100%;
   height: 100%;
   display: block;
}
.card {
   display: block;
   text-decoration: none;
   color: inherit;
   background: #fdfdfd;
   border-radius: 8px;
   height: 100%;
   overflow: hidden;
}
.card:hover{
   transform: translateY(-7px);
}

.footer {
   background-color: #1d1d1d;
   color: white;
   padding: 30px 20px 15px;
}
.footer-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
   text-align: center;
   max-width: 900px;
   margin: 0 auto;
}
.footer-section h3{
   margin-bottom: 10px;
   color: #fafafa;
}
.footer-section p
.footer-section li{
   margin: 5px 0;
   font-size: 16px;
   color: #ccc;
}
.footer-section ul{
   list-style: none;
   padding: 0;
}
.footer-section a{
   text-decoration: none;
   color: #fdfdfd;

}
.footer-section a:hover{
   color: #1596f1;

}
.footer-bottom {
   color: #ccc;
}

